@import "tailwindcss";

@theme {
  --color-primary: #d1df5a;
  --color-secondary: #2f3501;
  --color-tertiary: #d4e8eb;
  --color-fourth: #dee5fb;
}

/* Utility khusus untuk Italiana (pakai hanya di elemen tertentu) */
@utility font-primary {
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
@utility font-secondary {
  font-family: var(--font-italiana), ui-serif, Georgia, serif;
}


/* opsional: warna globalmu */
:root {
  --background: #fbf9f5;
  --foreground: #060606;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Hilangkan scrollbar di semua elemen */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.cl-userButtonAvatarBox {
  width: 45px ;
  height: 45px ;
  border-radius: 200px ; 
}




